{
  "openapi": "3.0.1",
  "info": {
    "title": "OfficeAlly.WebAPI.ERX",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://api-stg.officeally.io/erx"
    }
  ],
  "paths": {
    "/v1/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/medication/search": {
      "post": {
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrugSearchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DrugSearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DrugSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/medication/search/{ndcCode}": {
      "get": {
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "ndcCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/medication/siginformation": {
      "get": {
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/medication/potencyunitcodes": {
      "get": {
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/offices/all": {
      "get": {
        "tags": [
          "Office"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/search": {
      "get": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/{patientID}/medications/pending/prescribe": {
      "post": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "patientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewRxRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewRxRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewRxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/medications/pending/{newCropPendingID}": {
      "delete": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "newCropPendingID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/{patientID}": {
      "get": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "patientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "officeID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/{patientID}/medications/current": {
      "get": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "patientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/{patientID}/allergies/current": {
      "get": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "patientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/patient/{patientID}/medications/pending": {
      "post": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "patientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPendingMedicationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPendingMedicationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPendingMedicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "patientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/pharmacy/search": {
      "post": {
        "tags": [
          "Pharmacy"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PharmacySearchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PharmacySearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PharmacySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/pharmacy/{pharmacyID}": {
      "get": {
        "tags": [
          "Pharmacy"
        ],
        "parameters": [
          {
            "name": "pharmacyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/supervisors/all": {
      "get": {
        "tags": [
          "Supervisor"
        ],
        "parameters": [
          {
            "name": "IsMobile",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserModel": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DrugSearchRequest": {
        "type": "object",
        "properties": {
          "drugName": {
            "type": "string",
            "nullable": true
          },
          "includeObsolete": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "NewRxRequest": {
        "type": "object",
        "properties": {
          "officeID": {
            "type": "integer",
            "format": "int32"
          },
          "pharmacyID": {
            "type": "integer",
            "format": "int32"
          },
          "supervisorProviderID": {
            "type": "integer",
            "format": "int32"
          },
          "patientHeight": {
            "type": "string",
            "nullable": true
          },
          "patientWeight": {
            "type": "string",
            "nullable": true
          },
          "newCropPendingIDs": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpsertPendingMedicationRequest": {
        "type": "object",
        "properties": {
          "patientID": {
            "type": "integer",
            "format": "int32"
          },
          "officeID": {
            "type": "integer",
            "format": "int32"
          },
          "dispenseAmount": {
            "type": "number",
            "format": "double"
          },
          "daysSupply": {
            "type": "string",
            "nullable": true
          },
          "currentDrugNDCCode": {
            "type": "string",
            "nullable": true
          },
          "newCropPendingID": {
            "type": "integer",
            "format": "int64"
          },
          "drugName": {
            "type": "string",
            "nullable": true
          },
          "potencyUnitCode": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "string",
            "nullable": true
          },
          "dosagesForm": {
            "type": "string",
            "nullable": true
          },
          "instructions": {
            "type": "string",
            "nullable": true
          },
          "frequency": {
            "type": "string",
            "nullable": true
          },
          "refill": {
            "type": "integer",
            "format": "int32"
          },
          "problem": {
            "type": "string",
            "nullable": true
          },
          "problemText": {
            "type": "string",
            "nullable": true
          },
          "additionalSig": {
            "type": "string",
            "nullable": true
          },
          "pharmacyNotes": {
            "type": "string",
            "nullable": true
          },
          "sigDirection": {
            "type": "string",
            "nullable": true
          },
          "isDaw_Dns": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PharmacySearchRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Please insert JWT token into field",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]
}
